.carouselWrapper {
  width: 93%;
  overflow: hidden;
  position: relative;
  // height: 80px;

  margin-top: 20px;

  background-color: rgb(255, 255, 255);
  // padding: 0px 20px;
  border-radius: 50px;

  // margin-right: 60px;
  // margin-left: 60px;

  align-self: center;

  @media (max-width: 450px) {
    background-color: rgb(255, 255, 255);
    // padding: 0px 20px;
    border-radius: 0px;
    // width: 90%;
    width: 100%;
  }
}

.carousel {
  display: flex;
  gap: 2rem;
  animation: scroll-left 50s linear infinite;
  width: max-content;

  @media (max-width: 450px) {
    animation: scroll-left 35s linear infinite;
  }
}

.imageContainer {
  position: relative;
  // width: 80px;
  // height: 80px;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;

  img {
    // filter: grayscale(100%) brightness(100%) contrast(100%);
    // transition: filter 0.3s ease;

    filter: none;

    @media (max-width: 450px) {
      filter: none;
    }
  }

  // On hover, restore original color
  &:hover img {
    filter: none;
    transform: scale(1.2);
  }
}

.images {
  // width: 50px;
  @media (max-width: 450px) {
    width: 55px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
